:root {
  --bs-primary: #FA8B02;      /* couleur principale */
  --bs-secondary: #6c757d;    /* secondaire */
  --bs-success: #28a745;
  --bs-danger: #dc3545;
  --bs-warning: #ffc107;
  --bs-info: #0dcaf0;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}


/* Reset */
body {
  margin: 0;
  padding: 0;
}

/* Navbar transparente */
.navbar {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
}

/* Navbar après scroll */
.navbar.scrolled {
  background-color: rgba(13, 110, 253, 0.9) !important;
}

.cards-text-black h1 {
  margin-top: 100px;
  margin-left: 25%;
  font-weight: bold;
}

#cards-container .card img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* recadre l'image pour remplir le carré */
  display: block;
  margin: 0 auto;
  border-radius: 8px; /* optionnel, coins arrondis */
}





/* Hero section */
.hero {
  height: 60vh;
  background-image: url("images/bg_image.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Overlay sombre */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Contenu du hero */
.hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e07b00; /* plus foncé */
  --bs-btn-hover-border-color: #e07b00;
  --bs-btn-active-bg: #c96d00;
  --bs-btn-active-border-color: #c96d00;
}

